.swal2-shown ,
.app-container{
    font-family:'Verdana','Helvetica','sans-serif'
}

.app-container{
    max-width: 80em;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 10px;
    background: white
}